<div class="mobile-overlay is-open" data-modal>
  <div class="container mob-container">
    <a href="./index.html" class="mobile-logo">
      <svg width="84" height="36">
        <use href="/img/sprite.svg#icon-Frame-1-1"></use>
      </svg>
    </a>
    <button type="button" class="close-btn">
      <svg class="icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-close" data-modal-close></use>
      </svg>
    </button>
    <nav class="mob-nav">
        <ul class="mob-nav-list">
      <li class="mob-nav-item">
        <a href="">About us</a>
      </li>
      <li class="mob-nav-item">
        <a href="">Benefits</a>
      </li>
      <li class="mob-nav-item">
        <a href="">Gallery</a>
      </li>
      <li class="mob-nav-item">
        <a href="">Testimonial</a>
      </li>
      <li class="mob-nav-item">
        <a href="">Location</a>
      </li>
    </ul>
    </nav>
  </div>
</div>
