.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-scheme-1-background);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-logo {
  display: inline-block;
  line-height: 0;
  padding: 18px 0;
}

.mob-container {
  position: relative;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn > .icon {
  fill: var(--color-scheme-1-text);
  display: block;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
